div.stApp.streamlit-wide.css-fg4pbf.eczokvf1{
    text-align-all: center;
    animation: running;

} #main
div.css-1v0mbdj.etr89bj1{
    align-self: center;
}


div.css-12ttj6m.pcbefy1{
    background: whitesmoke;
}

div.css-zt5igj.e16nr0p32{
    align-content: center;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}